@import '../../styles/themesManager.css';

.homepage {
	height: 100%;

	& .welcomeMessage {
		position: absolute;
		display: block;
		padding: 50px;
		width: 550px;
		top: 50%;
		left: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
		font-family: RobotoMedium;

		& .subtitle {
			background-color: purple;
			margin-top: 20px;
		}

		& .rowClass {
			margin-top: 20px;
			margin-bottom: 20px;
			border: 1px solid #333;
			border-radius: 20px;
			height: 40px;
		}

		& .rowStyle {
			position: relative;
			width: 150px;
			background-color: #DDD;
		}
	}
}
