@import '../../styles/themesManager.css';

.iconholder {
	position: relative;
	min-width: 46px;
	max-width: 46px;
	width: 46px;
	min-height: 46px;
	max-height: 46px;
	height: 46px;
	background-image: url(./assets/base.png);

	& .upperShine {
		position: absolute;
		z-index: 1;
		max-width: 32px;
		min-width: 32px;
		width: 32px;
		max-height: 21px;
		min-height: 21px;
		height: 21px;
		top: 7px;
		left: 7px;
		opacity: 0.1;
	}

	& .bottomShine {
		position: absolute;
		z-index: 1;
		max-width: 32px;
		min-width: 32px;
		width: 32px;
		max-height: 21px;
		min-height: 21px;
		height: 21px;
		bottom: 7px;
		left: 7px;
		opacity: 0.6;
	}

	& .icon {
		position: absolute;
		z-index: 0;
		max-width: 32px;
		min-width: 32px;
		width: 32px;
		max-height: 32px;
		min-height: 32px;
		height: 32px;
		top: 7px;
		left: 7px;
	}
}
